$primary-bg: #4267b2;
$hover-bg: #315399;
$nav-height: 34px;
body {
    font-family: arial;
    font-size: 13px;
    line-height: 1.3;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

a {
    color: #365899;
    &.short_link {
        color: #5a5a5a;
    }
    &:hover,
    &:focus {
        color: #3d527f;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.container-page {
    max-width: 988px;
    margin: 0 auto;
    overflow-x: hidden;
}

.row {
    margin-left: -7px;
    margin-right: -7px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 7px;
    padding-right: 7px;
}

header {
    margin: 15px 0;
    .ads-header {
        width: calc(100% - 300px);
    }
}

img.logo {
    width: 250px;
}

.navbar {
    min-height: $nav-height;
    border: none;
    background: $primary-bg;
    border-radius: 4px;
    margin-bottom: 10px;
}

.navbar-collapse {
    padding: 0 5px;
}

.navbar-default {
    background: $primary-bg;
    .navbar-nav {
        >li>a {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 11px;
            text-transform: uppercase;
            line-height: $nav-height - 10px;
            color: #fff;
            &:hover,
            &:active,
            &:focus {
                background-color: $hover-bg;
                color: #fff;
            }
        }
        >li {
            &:first-child a {
                border-left: none;
            }
            &:last-child a {
                border-right: none;
            }
        }
        >.active>a,
        >.active>a:focus,
        >.active>a:hover {
            color: #fff;
            background-color: $hover-bg;
        }
    }
    .navbar-toggle {
        border: none;
        padding: 0 ($nav-height - 14px)/2;
        margin-top: ($nav-height - 14px)/2;
        border-radius: 0;
        margin-right: 0;
        padding-right: 0;
        .icon-bar {
            border-radius: 0;
            background-color: #fff;
        }
    }
    .navbar-toggle:focus,
    .navbar-toggle:hover {
        background-color: transparent;
    }
}

.navbar-brand {
    height: $nav-height;
    padding: 0;
    display: none;
    img {
        height: 25px;
        margin: ($nav-height - 25px) /2 0;
    }
}

.thumbnail {
    border-radius: 0;
    padding: 0;
    border: 0;
    .caption {
        padding: 0;
    }
    &.active,
    &:focus,
    &:hover {
        border-color: #ccc;
    }
    img {
        width: 100%;
    }
}

.list-group:not(.no-style) .list-group-item {
    padding-left: 15px;
    position: relative;
    &:first-child {
        a {
            font-weight: normal;
        }
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #969696;
        top: 15px;
        left: 6px;
    }
}

.list-group-item {
    border-color: #F1F1F1;
    padding: 10px 0;
    border-left: none;
    border-right: none;
    background: transparent;
    img{
        width: 100%;
    }
    &:first-child {
        border-radius: 0;
        a {
            font-weight: bold;
        }
        img {
            margin-bottom: 10px;
        }
    }
    &:last-child {
        border-radius: 0;
    }
}

.content.main {
    font-size: 14px;
    .info {
        margin: 10px 0 0;
        font-size: 11px;
        color: #666;
        line-height: 20px;
        min-height: 20px;
    }
}

.post-small {
    h4 {
        font-size: 13px;
        margin: 0;
    }
    .thumbnail .caption {
        padding: 10px;
        background-color: #F1F1F1;
        height: 70px;
    }
}

.category-tabs {
    border-bottom-color: $primary-bg;
    >li {
        >a {
            border: none;
            padding: 5px 10px;
            &:hover {
                background: transparent;
                border-color: transparent;
            }
        }
    }
    >li.active>a,
    >li.active>a:focus,
    >li.active>a:hover {
        font-weight: 700;
        color: #fff;
        border-radius: 0;
        border: none;
        background-color: $primary-bg;
    }
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article {
    margin: 14px 0;
    .caption a.short_link {
        color: $primary-bg;
    }
    .thumbnail {
        .short_link {
            font-weight: 700;
        }
    }
}

.suggest-block {
    background-color: #f1f1f1;
    padding: 10px;
    .title-block {
        padding: 5px 0px;
        color: $hover-bg;
        font-weight: 700;
    }
    .list-group-item {
        border-color: #e1e1e1;
        &:last-child {
            border-bottom: none;
        }
    }
    .list-group {
        margin-bottom: 0;
    }
    .user {
        margin-bottom: 5px;
        span {
            font-size: 11px;
            color: #898989;
        }
    }
}

.top-cmt {
    .short_link {
        color: $hover-bg;
    }
}

.block-ads {
    margin: 20px 0;
}

.ads-bottom {
    margin-top: 30px;
}

.form-control {
    border-radius: 0;
    border-color: #c5c5c5;
    box-shadow: none;
    &:focus {
        border-color: #919191;
        outline: 0;
        box-shadow: none;
    }
}

.btn {
    border-radius: 0;
    line-height: 1;
    min-width: 80px;
    &.btn-primary {
        background: $primary-bg;
        border-color: $primary-bg;
    }
}

.comments {
    margin-bottom: 20px;
    margin-top: 50px;
    color: #000;
    .list-group-item {
        border: none;
        padding: 10px;
        &:nth-child(odd) {
            background-color: #f8f8f8;
        }
    }
    .user {
        margin-top: 5px;
        color: #666;
    }
    .btn,
    .form-control {
        margin-top: 10px;
        float: right;
    }
    .content {
        margin: 10px 0;
    }
    .info {
        background: #f5f5f5;
        padding: 10px;
    }
}

footer,
.comments {
    .top {
        border: 1px solid #dedede;
        border-right: none;
        border-left: none;
        padding: 7px 15px;
        font-weight: bold;
        background: #f1f1f1;
    }
}

footer {
    margin-top: 30px;
    background: #f1f1f1;
    .center {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dedede;
        padding: 10px 15px;
    }
    .info {
        padding: 15px;
        background: #fff;
    }
    .list-group-item {
        border-color: transparent;
        padding: 2px 0;
        &:first-child {
            a {
                font-size: 11px;
                color: $primary-bg;
            }
            border-top: none;
            padding-top: 10px;
        }
    }
    a.short_link {}
}

@media screen and (max-width: 960px) {
    .navbar-default {
        border-radius: 0;
        .navbar-nav {
            >li>a {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .suggest-block {
        margin: 15px 0;
    }
    .h3,
    h3 {
        font-size: 20px;
    }
    header {
        display: none;
    }
    section {
        padding: 0 10px;
    }
    .navbar-header {
        padding: 0 10px;
    }
    .navbar-default {
        background: $primary-bg;
        .navbar-collapse {
            background-color: #f8f8f8;
        }
        .navbar-nav {
            margin: 7.5px -5px;
            >li>a {
                line-height: $nav-height - 10px;
                color: #777;
            }
        }
    }
    .navbar {
        border-radius: 0;
    }
    .navbar-brand {
        display: block;
    }
    .category-tabs>li:not(.active) {
        display: none;
    }
    .hide-ads{
        display: none;
    }
}

.post--main {
    text-align: justify;
    line-height: 1.6;
}

.post--main img {
    margin: 20px auto;
    display: block;
}

.category .list-group {
    margin-bottom: 0;
}

.regular {
    font-weight: 400 !important
}