/* line 4, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
body {
  font-family: arial;
  font-size: 13px;
  line-height: 1.3; }

/* line 21, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3; }

/* line 25, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
a {
  color: #365899; }
  /* line 27, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  a.short_link {
    color: #5a5a5a; }
  /* line 31, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  a:hover,
  a:focus {
    color: #3d527f;
    text-decoration: none; }

/* line 37, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
img {
  max-width: 100%; }

/* line 41, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.container-page {
  max-width: 988px;
  margin: 0 auto;
  overflow-x: hidden; }

/* line 47, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.row {
  margin-left: -7px;
  margin-right: -7px; }

/* line 99, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 7px;
  padding-right: 7px; }

/* line 104, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
header {
  margin: 15px 0; }
  /* line 106, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  header .ads-header {
    width: calc(100% - 300px); }

/* line 111, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
img.logo {
  width: 250px; }

/* line 115, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.navbar {
  min-height: 34px;
  border: none;
  background: #4267b2;
  border-radius: 4px;
  margin-bottom: 10px; }

/* line 123, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.navbar-collapse {
  padding: 0 5px; }

/* line 127, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.navbar-default {
  background: #4267b2; }
  /* line 130, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 24px;
    color: #fff; }
    /* line 139, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > li > a:focus {
      background-color: #315399;
      color: #fff; }
  /* line 145, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-nav > li:first-child a {
    border-left: none; }
  /* line 148, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-nav > li:last-child a {
    border-right: none; }
  /* line 154, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #315399; }
  /* line 159, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-toggle {
    border: none;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 0;
    margin-right: 0;
    padding-right: 0; }
    /* line 166, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .navbar-default .navbar-toggle .icon-bar {
      border-radius: 0;
      background-color: #fff; }
  /* line 172, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent; }

/* line 177, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.navbar-brand {
  height: 34px;
  padding: 0;
  display: none; }
  /* line 181, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-brand img {
    height: 25px;
    margin: 4.5px 0; }

/* line 187, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.thumbnail {
  border-radius: 0;
  padding: 0;
  border: 0; }
  /* line 191, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .thumbnail .caption {
    padding: 0; }
  /* line 196, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .thumbnail.active,
  .thumbnail:focus,
  .thumbnail:hover {
    border-color: #ccc; }
  /* line 199, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .thumbnail img {
    width: 100%; }

/* line 204, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.list-group:not(.no-style) .list-group-item {
  padding-left: 15px;
  position: relative; }
  /* line 208, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .list-group:not(.no-style) .list-group-item:first-child a {
    font-weight: normal; }
  /* line 212, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .list-group:not(.no-style) .list-group-item:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #969696;
    top: 15px;
    left: 6px; }

/* line 224, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.list-group-item {
  border-color: #F1F1F1;
  padding: 10px 0;
  border-left: none;
  border-right: none;
  background: transparent; }
  /* line 230, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .list-group-item:first-child {
    border-radius: 0; }
    /* line 232, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .list-group-item:first-child a {
      font-weight: bold; }
    /* line 235, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .list-group-item:first-child img {
      margin-bottom: 10px; }
  /* line 239, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .list-group-item:last-child {
    border-radius: 0; }

/* line 244, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.content.main {
  font-size: 14px; }
  /* line 246, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .content.main .info {
    margin: 10px 0 0;
    font-size: 11px;
    color: #666;
    line-height: 20px;
    min-height: 20px; }

/* line 256, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.post-small h4 {
  font-size: 13px;
  margin: 0; }

/* line 260, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.post-small .thumbnail .caption {
  padding: 10px;
  background-color: #F1F1F1; }

/* line 266, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.category-tabs {
  border-bottom-color: #4267b2; }
  /* line 269, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .category-tabs > li > a {
    border: none;
    padding: 5px 10px; }
    /* line 272, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .category-tabs > li > a:hover {
      background: transparent;
      border-color: transparent; }
  /* line 280, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .category-tabs > li.active > a,
  .category-tabs > li.active > a:focus,
  .category-tabs > li.active > a:hover {
    font-weight: 700;
    color: #fff;
    border-radius: 0;
    border: none;
    background-color: #4267b2; }

/* line 289, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
h1 {
  font-size: 26px;
  margin-bottom: 20px; }

/* line 294, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.post p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

/* line 302, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.article {
  margin: 14px 0; }
  /* line 304, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .article .caption a.short_link {
    color: #4267b2; }
  /* line 308, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .article .thumbnail .short_link {
    font-weight: 700; }

/* line 314, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.suggest-block {
  background-color: #f1f1f1;
  padding: 10px; }
  /* line 317, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .suggest-block .title-block {
    padding: 5px 0px;
    color: #315399;
    font-weight: 700; }
  /* line 322, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .suggest-block .list-group-item {
    border-color: #e1e1e1; }
    /* line 324, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .suggest-block .list-group-item:last-child {
      border-bottom: none; }
  /* line 328, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .suggest-block .list-group {
    margin-bottom: 0; }
  /* line 331, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .suggest-block .user {
    margin-bottom: 5px; }
    /* line 333, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .suggest-block .user span {
      font-size: 11px;
      color: #898989; }

/* line 341, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.top-cmt .short_link {
  color: #315399; }

/* line 346, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.block-ads {
  margin: 20px 0; }

/* line 350, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.ads-bottom {
  margin-top: 30px; }

/* line 354, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.form-control {
  border-radius: 0;
  border-color: #c5c5c5;
  box-shadow: none; }
  /* line 358, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .form-control:focus {
    border-color: #919191;
    outline: 0;
    box-shadow: none; }

/* line 365, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.btn {
  border-radius: 0;
  line-height: 1;
  min-width: 80px; }
  /* line 369, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .btn.btn-primary {
    background: #4267b2;
    border-color: #4267b2; }

/* line 374, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
.comments {
  margin-bottom: 20px;
  color: #000; }
  /* line 377, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .comments .list-group-item {
    border: none;
    padding: 10px; }
    /* line 380, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .comments .list-group-item:nth-child(odd) {
      background-color: #f8f8f8; }
  /* line 384, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .comments .user {
    margin-top: 5px;
    color: #666; }
  /* line 388, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .comments .btn, .comments .form-control {
    margin-top: 10px;
    float: right; }
  /* line 392, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .comments .content {
    margin: 10px 0; }
  /* line 395, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .comments .info {
    background: #f5f5f5;
    padding: 10px; }

/* line 402, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
footer .top,
.comments .top {
  border: 1px solid #dedede;
  border-right: none;
  border-left: none;
  padding: 7px 15px;
  font-weight: bold;
  background: #f1f1f1; }

/* line 412, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
footer {
  margin-top: 30px;
  background: #f1f1f1; }
  /* line 415, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  footer .center {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dedede;
    padding: 10px 15px; }
  /* line 420, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  footer .info {
    padding: 15px;
    background: #fff; }
  /* line 424, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  footer .list-group-item {
    border-color: transparent;
    padding: 2px 0; }
    /* line 427, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    footer .list-group-item:first-child {
      border-top: none;
      padding-top: 10px; }
      /* line 428, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
      footer .list-group-item:first-child a {
        text-transform: uppercase;
        font-size: 11px;
        color: #4267b2; }

@media screen and (max-width: 960px) {
  /* line 441, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default {
    border-radius: 0; }
    /* line 444, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .navbar-default .navbar-nav > li > a {
      padding-left: 6px;
      padding-right: 6px; } }

@media screen and (max-width: 768px) {
  /* line 454, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .h3,
  h3 {
    font-size: 20px; }
  /* line 457, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  header {
    display: none; }
  /* line 460, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  section {
    padding: 0 10px; }
  /* line 463, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-header {
    padding: 0 10px; }
  /* line 466, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-default {
    background: #4267b2; }
    /* line 468, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .navbar-default .navbar-collapse {
      background-color: #f8f8f8; }
    /* line 471, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
    .navbar-default .navbar-nav {
      margin: 7.5px -5px; }
      /* line 473, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
      .navbar-default .navbar-nav > li > a {
        line-height: 24px;
        color: #777; }
  /* line 479, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar {
    border-radius: 0; }
  /* line 482, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .navbar-brand {
    display: block; }
  /* line 485, /Applications/MAMP/htdocs/outsource/2016/tintuc/frontend/web/scss/style.scss */
  .category-tabs > li:not(.active) {
    display: none; } }

/*# sourceMappingURL=style.css.map */