body {
    font-family: arial;
    font-size: 13px;
    line-height: 1.3
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3
}

a {
    color: #000
}

a.short_link {
    color: #5a5a5a;
}
a.bold{
    font-weight: bold;
}
a:hover,
a:focus {
    color: #b31816;
    text-decoration: none
}

img {
    max-width: 100%
}

.container-page {
    max-width: 988px;
    margin: 0 auto;
    overflow-x: hidden
}

.row {
    margin-left: -7px;
    margin-right: -7px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 7px;
    padding-right: 7px
}

header.header {
    padding: 25px 0;
    background-color: #d0192b;
    background: #d0192b url(../images/header.png) no-repeat center center;
}

header.header a.short_link {
    color: #fff;
}

header.header a.short_link:hover {
    text-decoration: underline;
}

header.header .ads-header.header {
    width: calc(100% - 300px)
}

img.logo {
    width: 250px;
}

.navbar {
    min-height: 30px;
    border: none;
    background: #d40606;
    border-radius: 0;
    margin-bottom: 10px
}

.navbar-collapse {
    padding: 0;
}

.navbar-default {
    background: #d0192b;
    border-top: 1px solid #D85454;
}

.trends {
    width: 400px;
    margin-left: 50px;
}

.trends-icon {
    margin-top: 14px;
    font-size: 18px;
    color: #fff;
}

.trends .swiper-container {
    height: 40px;
    overflow: hidden;
    width: calc(100% - 24px);
    margin-top: 10px;
}

.trends .swiper-container .swiper-slide {
    height: 40px;
    line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
    padding: 10px 14px;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    color: #fff;
    /* font-family: tahoma; */
    font-weight: normal;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #b31816;
    color: #fff
}

.navbar-default .navbar-nav>li:first-child a {
    border-left: none
}

.navbar-default .navbar-nav>li:last-child a {
    border-right: none
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #b31816
}

.navbar-default .navbar-toggle {
    border: none;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 0;
    margin-right: 0;
    padding-right: 0
}

.navbar-default .navbar-toggle .icon-bar {
    border-radius: 0;
    background-color: #fff
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent
}

.navbar-brand {
    height: 34px;
    padding: 0;
    display: none
}

.navbar-brand img {
    height: 22px;
    margin: 6px 0;
}

.thumbnail {
    border-radius: 0;
    padding: 0;
    border: 0
}

.thumbnail .caption {
    padding: 0
}

.thumbnail.active,
.thumbnail:focus,
.thumbnail:hover {
    border-color: #ccc
}

.thumbnail img {
    width: 100%
}

.list-group:not(.no-style) .list-group-item {
    padding-left: 13px;
    position: relative
}

.list-group:not(.no-style) .list-group-item:first-child a {
    font-weight: normal
}

.list-group:not(.no-style) .list-group-item:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #969696;
    top: 16px;
    left: 6px
}

.list-group-item {
    border-color: #F1F1F1;
    padding: 10px 0;
    border-left: none;
    border-right: none;
    background: transparent
}

.list-group-item img {
    width: 100%
}

.top-post h2,.top-post h4 {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    color: #3D527F;
    font-weight: bold;
    padding: 10px 6px 6px;
    background: #f1f1f1;
    border-bottom: 2px solid #3d527f;
}

.list-group-item:first-child {
    border-radius: 0
}

.sidebar .list-group-item:first-child a {
    font-weight: bold
}

.list-group-item:first-child img {
    margin-bottom: 10px
}

.list-group-item:last-child {
    border-radius: 0
}

.content.main {
    font-size: 14px
}

.content.main .info {
    margin: 10px 0 0;
    font-size: 11px;
    color: #666;
    line-height: 20px;
    min-height: 20px
}

.post-small h4 {
    font-size: 13px;
    margin: 0
}

.post-small .thumbnail .caption {
    padding: 10px;
    background-color: #F1F1F1;
    height: 70px
}

.post-small .thumbnail .caption h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.category-tabs {
    border-bottom-color: #d40606
}

.category-tabs>li>a {
    border: none;
    padding: 5px 10px
}

.category-tabs>li>a:hover {
    background: transparent;
    border-color: transparent
}

.category-tabs>li.active>a,
.category-tabs>li.active>a:focus,
.category-tabs>li.active>a:hover {
    font-weight: 700;
    color: #fff;
    border-radius: 0;
    border: none;
    background-color: #d40606
}

h1 {
    font-size: 26px;
    margin-bottom: 20px
}

span.tag {
    display: inline-block;
    margin: 2px 4px 2px 0;
    padding: 5px 15px;
    background: #ebebeb;
    /* border-left: 5px solid #555a66; */
    color: #222;
    border-radius: 2px;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.post h3 {
    font-weight: 700;
}

.article {
    margin: 14px 0
}

.article .caption a.short_link {
    color: #000
}

.article .thumbnail .short_link {
    font-weight: 700
}

.article .list-group-item {
    border: none;
    padding: 6px 0px;
}

.article .list-group-item a.short_link {
    font-weight: 700;
}

.article .caption a.short_link:hover {
    color: #b31816
}

.article .list-group:not(.no-style) .list-group-item:before {
    top: 12px;
}

.article .list-group:not(.no-style) .list-group-item:first-child a {
    font-weight: 700
}

div.r43 {
    width: 100%;
    padding-bottom: 75%;
    background: #555555;
    position: relative;
}

div.r43 .r43-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.r43 .r43-img img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.suggest-block {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 15px 0;
}

.suggest-block div.r43 {
    margin-bottom: 10px;
}

.suggest-block .title-block {
    padding: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

a h1 {
    margin: 10px 0;
}

span.sitename {
    color: #fff;
    background: #c10f1d;
    display: inline-block;
    padding: 0 5px;
}

.suggest-block .title-block a {
    color: #3D527F;
}

.suggest-block .title-block a h4 {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.suggest-block .list-group-item {
    border-color: #e1e1e1
}

.suggest-block .list-group-item:first-child {
    border-top: none;
}

.suggest-block .list-group-item:last-child {
    border-bottom: none
}

.suggest-block .list-group {
    margin-bottom: 0
}

.suggest-block .user {
    margin-bottom: 5px
}

.suggest-block .user span {
    font-size: 11px;
    color: #898989
}

.top-cmt .short_link {
    color: #b31816
}

.sidebar .list-group-item:first-child {
    padding-top: 0;
    border-top-color: transparent;
}

.ads-bottom {
    margin-top: 30px
}

.form-control {
    border-radius: 0;
    border-color: #c5c5c5;
    box-shadow: none
}

.form-control:focus {
    border-color: #919191;
    outline: 0;
    box-shadow: none
}

.btn {
    border-radius: 0;
    line-height: 1;
    min-width: 80px
}

.btn.btn-primary {
    background: #d40606;
    border-color: #d40606
}

.comments {
    margin-bottom: 20px;
    margin-top: 50px;
    color: #000
}

.comments .list-group-item {
    border: none;
    padding: 10px
}

.comments .list-group-item:nth-child(odd) {
    background-color: #f8f8f8
}

.comments .user {
    margin-top: 5px;
    color: #666
}

.comments .btn,
.comments .form-control {
    margin-top: 10px;
    float: right
}

.comments .content {
    margin: 10px 0
}

.comments .info {
    background: #f5f5f5;
    padding: 10px
}

footer a.short_link {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer .top,
.comments .top {
    border: 1px solid #dedede;
    border-right: none;
    border-left: none;
    padding: 7px 15px;
    font-weight: bold;
    background: #f1f1f1
}

.search-box {
    margin-top: 8px;
}

.search-box .form-control {
    height: 28px;
    padding: 4px;
    width: 200px;
    font-size: 12px;
}

.search-box .btn.btn-primary {
    background-color: #b31816;
    border-color: #b31816;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 11px;
    text-transform: uppercase;
    height: 28px;
    min-width: 10px;
}

.search-box .form-control {
    border-color: #b31816;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

footer {
    margin-top: 30px;
    background: #f1f1f1
}

footer .center {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dedede;
    padding: 10px 15px
}

footer .info {
    padding: 15px 2px;
    background: #fff
}

footer .list-group-item {
    border-color: transparent;
    padding: 2px 0
}

footer .list-group-item:first-child {
    border-top: none;
    padding-top: 10px
}

footer .list-group-item:first-child a {
    color: #3d527f;
    font-weight: bold;
}

.fb_iframe_widget {
    display: block !important;
    margin: 0 auto;
    text-align: center;
}

.show-mobile {
    display: none !important;
}

.nav>li.search-box {
    margin-top: 0;
    padding: 0 5px;
}

.block-ads {
    margin-bottom: 15px;
}

.blockquote {
    background: #f7f7f7;
    padding: 6px;
    line-height: 15px;
    max-width: 100%;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    font-size: 13px;
}

.blockquote:after {
    display: table;
    content: '';
    clear: both;
}

.blockquote .post-image {
    float: left;
    margin-right: 10px;
    width: 150px;
}

.blockquote .post-info {
    font-weight: bold;
}

.blockquote .post-des {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.blockquote.box-right .post-image {
    float: none;
    width: 100%;
}

.blockquote.box-right .post-info {
    margin: 10px 0;
}

.blockquote.box-right {
    float: right;
    margin: 15px;
    margin-right: 0;
    max-width: 250px;
}

.blockquote img {
    vertical-align: top;
    width: 150px;
}

.sidebar .list-group-item:first-child .r43 {
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .navbar-default {
        border-radius: 0;
    }
    .navbar-default .navbar-nav>li>a {
        padding-left: 6px;
        padding-right: 6px
    }
    .sidebar .list-group-item:first-child .r43 {
        display: none;
    }
    .sidebar .list-group-item:first-child {
        padding-top: 10px;
        border-top-color: #f1f1f1;
    }
    .hide-ads {
        display: none
    }
}

@media screen and (max-width: 865px) {
    .hide-ads,
    .search-box {
        display: none
    }
}

@media screen and (max-width: 769px) {
    .show-mobile {
        display: inline-block !important;
    }
    .navbar-header{
        padding: 0 10px;
    }
    .navbar {
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: 0;
        left: 0;
    }
    body {
        padding-top: 44px;
    }
    .suggest-block {
        margin: 15px 0
    }
    .h3,
    h3 {
        font-size: 20px
    }
    header.header {
        display: none
    }
    section {
        padding: 0 10px
    }
    .navbar-header.header {
        padding: 0 10px
    }
    .navbar-default {
        background: #d0192b
    }
    .navbar-default .navbar-collapse {
        background-color: #f8f8f8;
        padding: 0 5px;
    }
    .navbar-default .navbar-nav {
        margin: 7.5px -5px
    }
    .navbar-default .navbar-nav>li>a {
        line-height: 20px;
        color: #777
    }
    .navbar {
        border-radius: 0
    }
    .navbar-brand {
        display: block
    }
    .category-tabs>li:not(.active) {
        display: none
    }
}

.category .list-group {
    margin-bottom: 0
}

.other-news .list-group {
    margin: 10px 0;
}

.other-news .list-group .list-group-item {
    border-color: transparent;
    padding: 2px 12px;
}

.other-news .list-group .list-group-item a {
    color: #b31816;
}

.other-news .list-group:not(.no-style) .list-group-item:before {
    top: 9px;
    left: 2px;
}

.other-news .list-group-item:first-child a {
    font-weight: normal;
}

.post--main {
    text-align: justify;
    line-height: 1.6;
    margin-top: 10px;
}

.index-side {
    max-height: 550px;
    overflow: auto;
}

.suggest-block .title-block h2 {
    font-size: 13px;
    margin: 0;
    font-weight: bold;
    padding-left: 0;
}

h1.cate {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
}

.indent-text {
    text-indent: -99999px;
    margin: 0;
    line-height: 1px;
}

.category-tabs>li.active h3 {
    font-size: 13px;
    margin: 0;
    line-height: 17px;
}

.post--main video {
    width: 100%;
    height: auto;
}

.post--main iframe {
    width: 100% !important;
    margin: 20px 0;
}

.post--main img {
    display: block;
    width: 100%;
}

.post--main figure {
    background: #F1F1F1;
    color: #222;
    margin: 20px 0;
}

.post--main figure figcaption {
    padding: 5px;
    font-size: 11px;
}

.post--main figure.image img {
    margin: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #b31816;
    border-color: #b31816;
}

.pagination>li>a,
.pagination>li>span {
    color: #000;
}


/*# sourceMappingURL=style.css.map */